# CSV files (except those in /results)
*.csv
!results/**/*.csv
!mlp-test/**/*.csv
# Model files
*.safetensors
*.pth
*.pt
*.json
/models
*/__pycache__
*.model
*.bin
*.env
*.npz
scripts/~/
training/features/
!data/15kphiusiil_subset.csv
!*.tar.gz
